@tailwind base;
@tailwind components;
@tailwind utilities;


*, ::before, ::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-inter), var(--font-geist-sans), sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: white !important;
}


html.dark body {
  background-color: #090D1F !important;
}


